
<!-- BEGIN SIDEBPANEL-->
<nav class="page-sidebar" data-pages="sidebar">
    <!-- BEGIN SIDEBAR MENU TOP TRAY CONTENT-->
    <div class="sidebar-overlay-slide from-top" id="appMenu">
        <div class="row">
            <div class="col-xs-6 no-padding">
                <a href="#" class="p-l-40">
                    <img src="@Url.Content("~/Content/assets/img/demo/social_app.svg")" alt="socail">
                </a>
            </div>
            <div class="col-xs-6 no-padding">
                <a href="#" class="p-l-10">
                    <img src="@Url.Content("~/Content/assets/img/demo/email_app.svg")" alt="socail">
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 m-t-20 no-padding">
                <a href="#" class="p-l-40">
                    <img src="@Url.Content("~/Content/assets/img/demo/calendar_app.svg")" alt="socail">
                </a>
            </div>
            <div class="col-xs-6 m-t-20 no-padding">
                <a href="#" class="p-l-10">
                    <img src="@Url.Content("~/Content/assets/img/demo/add_more.svg")" alt="socail">
                </a>
            </div>
        </div>
    </div>
    <!-- END SIDEBAR MENU TOP TRAY CONTENT-->
    <!-- BEGIN SIDEBAR MENU HEADER-->
    <div class="sidebar-header">
        <img src="@Url.Content("~/Content/assets/img/logo_white.png")" alt="logo" class="brand" data-src="@Url.Content("~/Content/assets/img/logo_white.png")" data-src-retina="@Url.Content("~/Content/assets/img/logo_white_2x.png")" width="78" height="22">
        <div class="sidebar-header-controls">
            
            @*<button type="button"  data-pages-toggle="#appMenu">
                <i class="fa fa-angle-down fs-16"></i>
            </button>*@
            <button type="button" class="btn btn-link visible-lg-inline" data-toggle-pin="sidebar">
                <i class="fa fs-12"></i>
            </button>
        </div>
    </div>
    <!-- END SIDEBAR MENU HEADER-->
    <!-- START SIDEBAR MENU -->
    <div class="sidebar-menu">
        <!-- BEGIN SIDEBAR MENU ITEMS-->
        <ul class="menu-items">
            <li class="m-t-30 ">
                <a href="@Url.Action("Dashboard","AdminPanel")" class="detailed">
                    <span class="title">Dashboard</span>
                </a>
                <span class="bg-success icon-thumbnail"><i class="pg-home"></i></span>
            </li>
            
            <li>
                <a href="javascript:;">
                    <span class="title">Contacts</span>
                    <span class=" arrow"></span>
                </a>
                <span class="icon-thumbnail"><i class="fs-14 sl-user"></i></span>
                <ul class="sub-menu">
                    <li class="">
                        <a href="@Url.Action("AddContact","Contacts")">Add Contact</a>
                        <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
                    </li>
                    <li class="">
                        <a href="@Url.Action("AllContacts","Contacts")">All Contacts</a>
                        <span class="icon-thumbnail"><i class="fs-14 sl-list"></i></span>
                    </li>
                </ul>
            </li>
            <li>
                <a href="javascript:;">
                    <span class="title">Campaign</span>
                    <span class=" arrow"></span>
                </a>
                <span class="icon-thumbnail">C</span>
                <ul class="sub-menu">
                    <li class="">
                        <a href="@Url.Action("AddCampaign","Campaign")">Add</a>
                        <span class="icon-thumbnail"><i class="fs-14 pg-plus"></i></span>
                    </li>
                    <li class="">
                        <a href="@Url.Action("AllCampaigns", "Campaign")">All Campaign</a>
                        <span class="icon-thumbnail"><i class="fs-14 sl-list"></i></span>
                    </li>
                </ul>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <!-- END SIDEBAR MENU -->
</nav>
<!-- END SIDEBAR -->
<!-- END SIDEBPANEL-->