@{
    ViewBag.Title = "ResetPassword";
   Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
        <!-- START Login Right Container-->
            <div class="p-l-50 m-l-20 p-r-50 m-r-20 p-t-50 m-t-30 sm-p-l-15 sm-p-r-15 sm-p-t-40">
                @*<img src="@Url.Content("~/Content/assets/img/logo.png")" alt="logo" data-src="@Url.Content("~/Content/assets/img/logo.png")" data-src-retina="@Url.Content("~/Content/assets/img/logo_2x.png")" width="78" height="22">*@
                <div class="col-md-12">
                    <h3 style="margin-top:30px;margin-left:-20px">Reset Password</h3>
                </div>
                <br />
                <!-- START Login Form -->
                <form id="form-login" class="p-t-15" role="form" method="post" action="@Url.Action("ResetPassword", "Account")">
                    <!-- START Form Control-->
                    <div class="form-group form-group-default">
                        <label>Email</label>
                        <div class="controls">
                            <input type="email" name="email" id="email" title="Please enter email" placeholder="Enter email" class="form-control" required>
                        </div>
                    </div>

                    <!-- START Form Control-->
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <button type="button" id="BtnReset" class="btn btn-info">Send mail</button> 
                        </div>
                    </div>
                    <br />

                    <div style="display:none;" id="divpleasewait">
                        <img src="@Url.Content("~/Content/Images/newgif.gif")" />
                    </div>
                    
                    <div style="height:15px"></div>
                    <div id="msgdiv">
                        @*@{
                            if (ViewBag.message != null)
                            {
                                <div class="alert alert-success" role="alert">
                                    <a class="close" data-dismiss="alert"></a>
                                    <strong>@ViewBag.message</strong>
                                </div>
                                <h6 style="margin-top:20px" class="pull-right"><a href="@Url.Action("Login","Account")">Back to Login!</a></h6>
                            }
                        }*@
                    </div>
                </form>
                <!--END Login Form-->

            </div>
        <!-- END Login Right Container-->
@section Scripts {

    @Scripts.Render("~/bundles/login")

<script type="text/javascript">
    $(document).ready(function () {

        $('#BtnReset').click(function () {
            var url = '@Url.Action("Login","Account")';
            var email = $('#email').val();
            if (email.length > 0) {
                $('#divpleasewait').css('display', 'block');
                $.getJSON("ResetPasswords/Account", { email: email }, function (result) {
                    if (result != null) {

                        var divmsg = $('#msgdiv');
                        var msgdiv = '<div class="alert alert-success" role="alert">\
                                    <a class="close" data-dismiss="alert"></a>\
                                    <strong>'+result+'</strong>\
                                </div>\
                                <h6 style="margin-top:20px" class="pull-right"><a href="'+url+'">Back to Login!</a></h6>';
                        divmsg.html(msgdiv);
                        $('#divpleasewait').css('display', 'none');

                    }

                });
            }
            return false;
        });
    });
    </script>
}
